# Virtual environment
venvs/*
!venvs/info.txt

# IDEs
.spyproject/
.vscode/

# Caches
.mypy_cache/
**/__pycache__/
pyBL.egg-info/
build/

# Documentation
sphinx/build/
sphinx/source/api/_autosummary/

# Code coverage with coverage.py
.coverage
htmlcov
