# Virtual environment
venvs/*
!venvs/info.txt

# IDEs
.spyderproject/
.spyproject/
.vscode/
*.code-workspace

# Automated testing with tox
.tox/

# Typing info with mypy
.mypy_cache/

# Code coverage with coverage.py
.coverage
htmlcov

# Caches
**/__pycache__/

# Distribution / packaging
IBL.egg-info/

# Documentation
sphinx/build/
sphinx/source/api/_autosummary/
